/* BASIC THINGS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
}


/* FONTS AND COLOURS */
body {
    background: #24242a;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.4rem;
}
h1, h2, h3, h4, h5 {
    color: #fff;
    font-weight: 700;
}
h1 {
    font-size: 3rem;
    font-weight: 900;
}
h2 {
    font-size: 1.6rem;
    margin-top: 1rem;
}
header {
    padding: 2rem;
    line-height: 3rem;
}
.comics {
    background: #2e2e35;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem 1rem 2rem 1rem;
    margin: 2rem;
}

/* LAYOUT */
.comics img {
    width: 90%;
}
.comic_info {
    width: 20%;
    text-align: center;
    margin: 1rem 0 1rem 0;
}

@media screen and (max-width: 1280px) {
    .comics img {
        width: 50%;
    }
    .comic_info {
        width: 100%;
    }
}